<div class="img">
    <h2 class="lienhe">LIÊN HỆ CHÚNG TÔI</h2>
</div>
<table class="form-lien-he">
    <tr>
        <td>
            <p class="pcss">CÔNG TY TNHH SỨC KHỎE - LÀM ĐẸP MASKIN</p> <br/>
            <p><i class="fa fa-map-marker-alt"></i>&nbsp; <strong>Địa chỉ: </strong> số 7 Hoa Lan, phường 7, Phú Nhuận, TP.Hồ Chí Minh </p>
            <p><i class="fa fa-envelope"></i> &nbsp;<strong>Email:</strong> maskin@contact.com</p>
            <p><i class="fa fa-phone"></i>&nbsp; <strong>Hotline:</strong> 1800 9999 </p>
            <br/>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2305.660162121263!2d106.69035136048832!3d10.796789664380015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528cef227164b%3A0xf16116c00ec043f4!2zNyBIb2EgTGFuLCBQaMaw4budbmcgNywgUGjDuiBOaHXhuq1uLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1607699795056!5m2!1svi!2s"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </td>
        <td class="td-lien-he">
            <form>
                <div align="center">
                    <H1>XIN CHÀO - LIÊN HỆ</H1>

                    <table width="650px" cellpadding="5" class="form">
                        <tr>
                            <td>Nếu bạn có bất kỳ câu hỏi nào, hãy để lại thông tin và câu hỏi dưới đây. Chúng tôi sẽ giải đáp với bạn trong thời gian ngắn nhất nhé.</td>
                        </tr>
                        <tr>

                            <td>
                                <label for="hoten"><b>Họ tên / Full Name</b></label><b style="color:red">(*)</b><br/>
                                <input type="text" name="hoten" id="hoten" class="input" />
                            </td>
                        </tr>
                        <tr>

                            <td>
                                <label for="email"><b>Email</b></label><b style="color:red">(*)</b><br/>
                                <input type="email" name="email" id="email" placeholder="tenban@vidu.com" class="input" />
                            </td>
                        </tr>
                        <tr>

                            <td>
                                <label for="sdt"><b>Số điện thoại / Phone number</b></label><b style="color:red">(*)</b><br/>
                                <input type="text" name="sdt" id="sdt" placeholder="09xxxxxxxx" class="input" />
                            </td>
                        </tr>
                        <tr>

                            <td>
                                <label for="tieude"><b>Tiêu đề / Topic</b></label><br/>
                                <input type="text" name="tieude" id="tieude" class="input" />
                            </td>
                        </tr>
                        <tr>

                            <td>
                                <label for="noidung"><b>Nội dung / Content</b></label><br/>
                                <textarea name="noidung" id="noidung" class="textarea"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <button class="button" onclick="alert('Nhân viên chúng tôi sẽ liên hệ bạn trong thời gian sớm nhất !')">Gửi phản hồi</button>
                                <button type="reset" class="button">Nhập lại</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </td>
    </tr>
</table>
