<div class="big">
    <h2 class="txttieude">Chăm Sóc Da Dầu Mụn Với Dr.Belmeur</h2>
    <i class="fa fa-folder-open"></i> Tin tức &nbsp;<i class="fa fa-calendar-alt"></i> 21/12/2020
    <hr /><br />
    <b>Nguyên nhân dẫn đến da nhờn bị mụn?</b>
    <p>
        - Làm sạch da chưa đầy đủ bước: bã nhờn bài tiết nhiều do khí hậu nóng bức, kết hợp với môi trường bụi bẩn, ô nhiễm sẽ dẫn đến việc da rất dễ bị nổi mụn.
        <br /> - Do yếu tố di truyền.
        <br /> - Tâm lý căng thẳng, bị stress và chịu áp lực quá mức cũng gây ra tình trạng nổi mụn.
        <br /> - Thay đổi nội tiết tố sẽ khiến làn da thay đổi: da nhờn và dễ bị mụn hơn khi ở tuổi dậy thì, nổi mụn trong giai đoạn trước khi xuất hiện kinh nguyệt hàng tháng, v.v.
    </p>

    <img src="https://file.hstatic.net/1000187239/file/5_tin_tuc_chi_tiet_grande.png" /><br/>


    <b>
        3 điều quan trọng cần thực hiện khi chăm sóc da nhờn bị mụn
    </b>
    <p>
        1. Làm sạch da thật cẩn thận với các sản phẩm dành cho da dầu mụn, lưu ý cần vệ sinh rất thường xuyên những vật dụng cá nhân như khẩu trang, vỏ gối, khăn mặt, dây nón bảo hiểm, v.v.
        <br /> 2. Bảo vệ da:
        <br /> -Hạn chế việc da tiếp xúc với bụi bẩn và ánh nắng mặt trời bằng cách thoa kem chống nắng hàng ngày (nên chọn sản phẩm dành riêng cho da nhờn) và che chắn cẩn thận khi ra ngoài.
        <br /> -Lưu ý về chế độ ăn uống: cần hạn chế tối đa việc ăn các đồ chiên rán nhiều dầu mỡ, thức ăn cay nóng. Nên uống thật nhiều nước.
        <br /> 3. Dưỡng phục hồi da: nên lựa chọn các sản phẩm thiết kế dành riêng cho da dầu mụn, các sản phẩm có tính năng diệt khuẩn, kiểm soát dầu và phục hồi tổn thương da do mụn.
    </p>
</div>
