<div class="big">

    <h2 class="txttieude">Bí quyết dưỡng da thổi bay mụn của Suzy</h2>
    <i class="fa fa-folder-open"></i> Tin tức &nbsp; <i class="fa fa-calendar-alt"></i> 21/12/2020
    <hr /><br />
    <b>
    Đánh bay mụn bằng phương pháp 4-2-4
 </b>
    <p>
        Chia sẻ về việc chăm sóc da của mình, Suzy cho biết cô rất quang tâm đến viêc rửa sạch da mặt. Và 4-2-4 là tên gọi của cách làm sạch da của Suzy, cụ thể là 4 phút, 2 phút và 4 phút.
    </p>

    <img src="https://file.hstatic.net/1000187239/file/5_tin_tuc_chi_tiet_grande.png" /><br />


    <p>
        Thông thường, các cô gái chỉ dành một vài phút nhanh gọn để rửa mặt, tuy nhiên Suzy lại bỏ ra tới 10 phút cho một quy trình rửa mặt của mình. Gống như tên gọi, quy trình này có 3 bước.
        <br /> Bước 1: Massage da mặt bằng dầu tẩy trang (cleansing oil) - 4 phút
        <br /> Dành ra 4 phút để massage da mặt với cleansing oil giúp tẩy trang sạch sẽ lớp trang điểm trên mặt đồng thời đánh bay tế bào chết, bụi bẩn trên da. Có thể thay thế cleansing oil bằng dầu dừa hoặc dầu olive.
        <br /> Bước 2: Dùng với cleansing foam (sửa rửa mặt tạo bọt) – 2 phút
        <br /> Suzy đầu từ 2 phút để rửa mặt với loại sửa rửa mặt tạo bọt.Thời gian hai phút đã đủ để làm sạch da hoàn toàn, bởi nếu rửa lâu da rất dễ bị khô. Bạn chỉ cần đổ chút sữa rửa mặt ra lòng bàn tay, thêm chút nước rồi thoa lên mặt theo chuyển
        động tròn.
        <br /> Bước 3: Rửa mặt bằng nước – 4 phút
        <br /> Cuối cùng, cô nàng sẽ làm sạch mặt cùng với nước sạch trong vòng 4 phút để cuốn trôi hết lớp sữa rửa mặt tạo bọt trước đó. Đầu tiên là rửa sạch mặt bằng nước ấm (trong 1 phút), nước ấm sẽ khiến lỗ chân lông nở rộng và đào thải cặn bã. Tiếp
        theo, làm sạch da bằng nước mát (trong 3 phút), nước mát giúp da se khít lỗ chân lông, tăng độ săn chắc và đàn hồi.
    </p>

    <img src="https://file.hstatic.net/1000187239/file/6_tin_tuc_chi_tiet_grande.png" />

    <br />
    <p>
        Chia sẻ về những ngày làn da nổi mụn, Suzy vẫn áp dụng và có hiệu quả tích cực nhờ phương pháp 4-2-4 đem lại: “Khi da tôi bắt đầu xuất hiện mụn do trang điểm quá dày và thường xuyên, phương pháp 424 thật sự đã khiến những nốt mụn của tôi lành nhanh hơn
        và biến mất từ lúc nào không hay biết”.
    </p>

    <p>
        Mặc dù phương pháp 4-2-4 tương đối đơn giản nhưng hiệu quả mà nó mang lại đã được Suzy kiểm chứng qua năm tháng, đặc biệt ngay cả những ngày da cô ẩm ương bị mụn. Giờ đây các nàng có thể áp dụng ngay những bí quyết dưỡng da hiệu quả Suzy rồi đấy!
    </p>
</div>
