<div class="container">
    <div class="columnleft">
        <h4>BÀI VIẾT MỚI NHẤT</h4>
        <hr />
        <table>
            <tr>
                <td>
                    <a routerLink="/tintuc1"><img src="https://suplo-beauty.weba.vn/shop/images/suplo-beauty/posts/tt3_large.jpg" /></a>
                </td>
                <td><a routerLink="/tintuc1" class="linkcss">Bí mật đằng sau những chiếc mặt nạ giấy</a></td>
            </tr>

            <tr>
                <td>
                    <a><img src="https://suplo-beauty.weba.vn/shop/images/suplo-beauty/posts/tt1_8d1d38e1a3d54d00b0cef6f1b05a9ffe_large.jpg" /></a>
                </td>
                <td><a routerLink="/tintuc2" class="linkcss">Chăm Sóc Da Dầu Mụn Với Dr.Belmeur</a></td>
            </tr>

            <tr>
                <td>
                    <a routerLink="/tintuc3" class="linkcss"><img src="https://suplo-beauty.weba.vn/shop/images/suplo-beauty/posts/tt5_large.jpg" /></a>
                </td>
                <td><a routerLink="/tintuc3" class="linkcss">Bí quyết dưỡng da thổi bay mụn của Suzy</a></td>
            </tr>

            <tr>
                <td>
                    <a routerLink="/tintuc4" class="linkcss"><img src="https://suplo-beauty.weba.vn/shop/images/suplo-beauty/posts/tt4_large.jpg" /></a>
                </td>
                <td><a routerLink="/tintuc4" class="linkcss">Cách chọn kem lót trang điểm phù hợp</a></td>
            </tr>
        </table>
    </div>

    <div class=" columnright">
        <h4>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Tất cả bài viết</h4>

        <table>
            <tr>
                <td>
                    <a routerLink="/tintuc1" class="linkcss"><img src="https://suplo-beauty.weba.vn/shop/images/suplo-beauty/posts/tt5_large.jpg" /></a>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <a routerLink="/tintuc4" class="linkcss"><img src="https://suplo-beauty.weba.vn/shop/images/suplo-beauty/posts/tt4_large.jpg" /></a>
                </td>
            </tr>

            <tr>
                <td><a routerLink="/tintuc1" class="linkcss">Bí quyết dưỡng da thổi bay mụn của Suzy</a></td>
                <td>
                    &nbsp;
                </td>
                <td><a routerLink="/tintuc4" class="linkcss">Cách chọn kem lót trang điểm phù hợp</a></td>
            </tr>
            <tr>
                <td>
                    <a routerLink="/tintuc3" class="linkcss"><img src="https://suplo-beauty.weba.vn/shop/images/suplo-beauty/posts/tt3_large.jpg" /></a>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <a routerLink="/tintuc2" class="linkcss"><img src="https://suplo-beauty.weba.vn/shop/images/suplo-beauty/posts/tt1_8d1d38e1a3d54d00b0cef6f1b05a9ffe_large.jpg" /></a>
                </td>
            </tr>

            <tr>
                <td><a routerLink="/tintuc3" class="linkcss">Bí mật đằng sau những chiếc mặt nạ giấy</a></td>
                <td>
                    &nbsp;
                </td>
                <td><a routerLink="/tintuc2" class="linkcss">Chăm Sóc Da Dầu Mụn Với Dr.Belmeur</a></td>
            </tr>


        </table>

    </div>
</div>
